<footer>
	<div id="socialmedias">
		<a target="_blank" href="http://twitter.com/{{ site.twitter.username }}"><i class="fa fa-twitter"></i></a>
		<a target="_blank" href="http://facebook.com/{{ site.facebook.username }}"><i class="fa fa-facebook"></i></a>
		<a target="_blank" href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
	</div>
	<div id="legal">
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
			<img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
		</a>
		<br />
		{% translate includes.footer.legal_mention %} <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licence Creative Commons Attribution - Pas d'Utilisation Commerciale - Pas de Modification 4.0 International</a>.
	</div>
</footer>
