<header>
		<div id="top">
			<div id="top-left">
			</div>
			<div id="top-center">
				<h1>No Fake Science</h1>
				<img src="{{ "/assets/img/logo_no_fake_science.svg" | absolute_url }}" />
			</div>
			<div id="top-right">
				<a href="{{ site.baseurl_root }}{% translate_link {{ page.namespace }} fr %}"><i class="flag-icon flag-icon-fr"></i></a>
				<a href="{{ site.baseurl_root }}{% translate_link {{ page.namespace }} en %}"><i class="flag-icon flag-icon-us"></i></a>
				<a href="{{ site.baseurl_root }}{% translate_link {{ page.namespace }} pt %}"><i class="flag-icon flag-icon-pt"></i></a>
				<!--<select id="select-language" onchange="window.document.location.href=this.options[this.selectedIndex].value;">
					<option disabled="disabled">Select language</option>
					<option value="{{ site.baseurl_root }}{% translate_link {{ page.namespace }} fr %}">Français</option>
					<option value="{{ site.baseurl_root }}{% translate_link {{ page.namespace }} en %}">English</option>
					<option value="{{ site.baseurl_root }}{% translate_link {{ page.namespace }} pt %}">Português</option>
				</select>
				<div id="select-language-arrow"></div>-->
			</div>
		</div>
		<nav role="navigation">
			<ul>
				{% assign pages = site.pages | group_by: "category" %}
				{% for category in pages %}
					{% if category.name != "" %}
						<li><a href="#">{% translate category.name %}</a>
							<ul>
					{% endif %}
					{% assign pages = category.items | sort:"order" %}
					{% for page in pages %}
						{% if page.button %}
							<li><a href="{{ page.url | absolute_url }}">
								{% translate page.title %}
							</a></li>
						{% endif %}
					{% endfor %}
					{% if category.name != "" %}
							</ul>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
</header>

<!-- <div id="banner"></div> -->
