<aside>
		<div id="title">
			<div>No Fake Science</div>
			<img src="/css/assets/images/telescope.svg" />
		</div>
		<nav>
			{% for page in site.pages %}
				{% if page.title %}
					<div class="button">
						<a href="{{ page.url | prepend: site.baseurl }}">
							<div>
							{{ page.title }}
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</nav>
</aside>

<header>
	<div class="site_title">
	<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
	</div>
</header>
