<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% seo %}
	<!-- Custom SEO tag -->
	<title>{% translate page.title %} | {{ site.title }}</title>
	<meta property="og:title" content="{% translate page.title %}" />
	<meta property="twitter:title" content="{% translate page.title %}" />
	<!-- End custom SEO tag -->

	<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,300" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ "/assets/js/anchor.js" | absolute_url }}" type="text/javascript"></script>
	<!-- Google search console for SEO -->
	<meta name="google-site-verification" content="dif--GpKz3MlIwdDA_0uEws0J7folWWYapYckxSbtTE" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143797157-1%22%3E"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-143797157-1');
	</script>
</head>
