footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: linear-gradient(#F4F4F4, #B4B4B4);
	margin: 50px 0 0;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	div#contact{
		display: flex;
		flex-direction: column;
	}
	div#socialmedias{
	}
	div#legal{
	}
}
