footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(#F4F4F4, #B4B4B4);
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;

	div#contact {
		display: flex;
		flex-direction: column;
	}

	div#socialmedias {}

	div#legal {
		font-size: 0.6em;
		text-align: center;
    margin-top: 2vh;
	}
}
