footer {
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: linear-gradient(#F4F4F4, #B4B4B4);
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	div#contact{
		display: flex;
		flex-direction: column;
	}
	div#socialmedias{
	}
	div#legal{
	}
}
