html {
	height: 100%;
	font-size: 100%;
}

body {
	height: 100%;
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

div#content {
	width: 100%;
	padding: 20px 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 20px;

	@media all and (max-width: $mobile-width) {
		div#left {
			flex: 0 0 100%;
			order: 2;
		}

		div#right {
			flex: 0 0 100%;
			order: 3;
		}

		main {
			border: none;
			order: 1;
			flex: 0 0 100%;
		}
	}
}

div#content aside#left {
	width: 25vw;
	height: 800px;
	order: 1;
	padding: 10px;

	iframe {
		width: 100%;
		height: 100%;
	}
}

div#content main {
	order: 2;
	flex: 1;
	padding: 10px;
	border: none;
	border-left: 0.1px solid #BFBFBF;
	border-right: 0.1px solid #BFBFBF;

	article {
		text-align: justify;

		h2 {
			font-weight: 600;
			font-size: 2em;
			color: $heading-font-color;
			font-family: $heading-font;
			line-height: 1.5;
			text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
			margin: 0;
		}
	}
}

div#content aside#right {
	width: 25vw;
	order: 3;
	padding: 10px;

	section#press {
		display: flex;
		flex-direction: column;
		padding: 10px;

		h2 {
			font-weight: bold;
			font-size: 1.5em;
			color: $heading-font-color;
			font-family: $heading-font;
			line-height: 1.5;
			text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
			margin: 0;
		}

		article {
			background-color: #E5E5E5;
			padding: 5px;
			margin-top: 10px;
			border-radius: 10px;

			a {
				color: inherit;
				text-decoration: none;

				h3 {
					font-weight: bold;
					font-size: 1em;
					margin: 0;
				}

				p {
					font-size: 0.75em;
					margin: 0;
				}
			}
		}
	}
}
