html {
	height:100%;
}
body {
	height:100%;
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

main {
	width: 100%;
	padding: 20px 15px 20px 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 20px;
	div {
		padding: 10px;
	}
	div#form {
		background-color: red;
		width: 25vw;
		height: 200px;
		order: 1;
	}
	div#twitter {
		background-color: blue;
		width: 25vw;
		height: 200px;
		order: 3;
	}
	article{
		order: 1;
		flex: 1;
		padding: 10px;
		border: none;
		border-left: 0.1px solid #BFBFBF;
		border-right: 0.1px solid #BFBFBF;
		h2 {
			font-weight: 600;
			font-size: 2em;
			color: $heading-font-color;
			font-family: $heading-font;
			line-height: 1.5;
			text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
			margin: 0;
		}
	}
	@media(max-width: $mobile-width) {
		div#form {
			flex: 0 0 100%;
			order: 2;
		}
		div#twitter {
			flex: 0 0 100%;
			order: 3;
		}
		article {
			border: none;
			order: 1;
			flex: 0 0 100%;
		}
	}
}
time {
	color: #898989;
}
