html {
	height:100%;
}
body {
	height:100%;
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

main {
	width: 100%;
	padding: 20px 15px 20px 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 20px;
	div {
		padding: 10px;
	}
	div#form {
		width: 25vw;
		height: 800px;
		order: 1;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	div#external {
		width: 25vw;
		order: 3;
		div#press{
			display: flex;
			flex-direction: column;
			h3 {
				font-weight: bold;
				font-size: 1.5em;
				color: $heading-font-color;
				font-family: $heading-font;
				line-height: 1.5;
				text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
				margin: 0;
			}
			a.article {
				text-decoration: none;
				color: inherit;
				background-color: #E5E5E5;
				padding: 5px;
				margin-top: 10px;
				border-radius: 10px;
				h4 {
					font-weight: bold;
					font-size: 1em;
					margin: 0;
				}
				div.content {
					font-size: 0.75em;
					padding: 0;
				}
			}
		}
	}
	article{
		order: 1;
		flex: 1;
		padding: 10px;
		border: none;
		border-left: 0.1px solid #BFBFBF;
		border-right: 0.1px solid #BFBFBF;
		text-align: justify;
		h2 {
			font-weight: 600;
			font-size: 2em;
			color: $heading-font-color;
			font-family: $heading-font;
			line-height: 1.5;
			text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
			margin: 0;
		}
	}
	@media(max-width: $mobile-width) {
		div#form {
			flex: 0 0 100%;
			order: 2;
		}
		div#external {
			flex: 0 0 100%;
			order: 3;
		}
		article {
			border: none;
			order: 1;
			flex: 0 0 100%;
		}
	}
}
time {
	color: #898989;
}
